# Compiled output
/dist
/out-tsc
/build

# Dependencies
/node_modules

# Angular specific
.angular
.angular/cache

# IDEs and editors
.idea
.vscode
*.swp

# System files
.DS_Store
Thumbs.db

# Logs and debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test files
/coverage

# Temporary files
*.tmp
*.temp

# Ignore all .json files except package.json
*.json
!package.json

# Environment files
.env
*.env
*.local
*.js
